/*
    I think I will eventually have to compile these css files into one
    monolithic css file, so try to be as specific as possible when referencing
    tags (use id's and classes instead of just refering to all tags of a certain
    type whenever possible.)
*/

/*backsplash photo stuff*/
#aboutus {
  max-width: 100%;
  height: auto;
  z-index:-2;
}

.backsplash {
    max-width: 100%;
    position: relative;
    text-align: center;
    color: black;
}

/* backsplash title text*/
.backsplashtext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Arvo", Courier, serif;
    font-size: 7vw;
    text-decoration: none;
    border-bottom: 5px solid #70B8E1;
    border-top: 5px solid #70B8E1;
}

/*bottom navigation sections*/
#bottomnav {
  margin:0;
  padding:0;
  text-align:center;
  width: 100%;

  position: absolute;
  bottom: 25px;
  list-style: none;
  background-color: transparent;

}

#bottomnav li {
  list-style-type: none;
  display:inline-block;
  font-family: "Arvo", Courier, serif;
  margin: 0;
  padding: 5px;
}

#bottomnav a {
  color: black;
  font-size: 1.5vw;
  list-style:none;
  margin: 0;
  padding: 0;
}

#bottomnav li+li { border-left: 2px solid #000000 }


.bottomsection{
  font-size: 1.5vw;
  color: black;
}

.toshow{
  display: none;
}

#section1 {
  margin-top: 3vw;
  margin-left: 5vw;
  margin-right: 5vw;
}

#section2 {
  margin-top: 3vw;
  margin-left: 5vw;
  margin-right: 5vw;
}

#section3 {
  margin-top: 3vw;
  margin-left: 5vw;
  margin-right: 5vw;
}




/*general page body stuff*/
h2 {
  font-family: "Arvo", Courier, serif;
  font-size: 2.5vw;
  font-weight: bold;
}

.bodytext {
  font-family: "Arvo", Courier, serif;
  font-size: 1.5vw;
}

p {
  font-family: "Arvo", Courier, serif;
}


.bold {
  font-weight: bold;
}




/*used to arrange and format the director's photos*/
.flex-container {
  text-align: center;
  margin-left: 2.5%;
  position: relative;

}

.responsive-image {

  width: 30%;
  border-radius: 50%;
  border-style: solid;
  border-width: 0.3vw;
  color: #57B7DD;
  margin-bottom: 10%;
}

.cell {
  float: left;
  text-align: center;
  width: 24%;
  padding: 3%;
}

.cell img {
  width: 100%;
}

.directorName {
  font-weight : bold;
  font-size: 1.5vw;
}

.position {
  color: #57B7DD;
}


/*modal code*/
.modal-header {
  display: inline-block;
  border: none;
}

.modalImage {
  border-radius: 50%;
  width: 30%;
  margin-right: auto;
  margin-left: auto;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #70B8E1;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 3vw;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    color: white;
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 3vw;
    font-weight: bold;
    opacity: 1;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



/*responsive code*/
@media (max-width: 800px) {
    .responsive-image {
        width: 50%;
    }
}

@media (min-width : 320px) and (max-width : 480px) {
    .responsive-image {
        width: 100%;
    }
}
