/*
    I think I will eventually have to compile these css files into one
    monolithic css file, so try to be as specific as possible when referencing
    tags (use id's and classes instead of just refering to all tags of a certain
    type whenever possible.)
*/


#aboutus {
  max-width: 100%;
  height: auto;
  z-index:-2;
}

.backsplash {
    max-width: 100%;
    position: relative;
    text-align: center;
    color: black;

}

/* backsplash title text*/
.backsplashtext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Arvo", Courier, serif;
    font-size: 7vw;
    text-decoration: none;
    border-bottom: 5px solid #70B8E1;
    border-top: 5px solid #70B8E1;
}


#bottomnav {
  margin:0;
  padding:0;
  text-align:center;
  width: 100%;

  position: absolute;
  bottom: 25px;
  list-style: none;
  background-color: transparent;

}

#bottomnav li {
  list-style-type: none;
  display:inline-block;
  font-family: "Arvo", Courier, serif;
  margin: 0;
  padding: 5px;
}

#bottomnav a {
  color: black;
  font-size: 1.5vw;
  list-style:none;
  margin: 0;
  padding: 0;
}

#bottomnav li+li { border-left: 2px solid #000000 }


.bottomsection{
  font-size: 1.5vw;
  color: black;
}

.toshow{
  display: none;
}

h2 {
  font-family: "Arvo", Courier, serif;
  font-size: 2.5vw;
  font-weight: bold;
}

#section1 {
  margin-top: 60px;
  margin-left: 50px;
  margin-right: 50px;
}

#section2 {
  margin-top: 60px;
  margin-left: 50px;
  margin-right: 50px;
}

#section3 {
  margin-top: 60px;
  margin-left: 50px;
  margin-right: 50px;
}

.bodytext {
  font-family: "Arvo", Courier, serif;
  font-size: 1.5vw;
}

.flex-container {
  text-align: center;
  position: relative;
  margin-left: 2.5%;
}


.responsive-image {
  float: left;
  width: 30%;
  border-radius: 50%;
  border-style: solid;
  border-width: 0.3vw;
  color: #57B7DD;
  margin-bottom: 10%;

}


@media (max-width: 800px) {
    .responsive-image {
        width: 50%;
    }
}

@media (min-width : 320px) and (max-width : 480px) {
    .responsive-image {
        width: 100%;
    }
}


.cell {
  float: left;
  text-align: center;
  width: 24%;
  padding: 3%;
}

.cell img {
  width: 100%;
}

p {
  font-family: "Arvo", Courier, serif;
}

.directorName {
  font-weight : bold;
  font-size: 1.5vw;
}

.position {
  color: #57B7DD;
}
