/*
    I think I will eventually have to compile these css files into one
    monolithic css file, so try to be as specific as possible when referencing
    tags (use id's and classes instead of just refering to all tags of a certain
    type whenever possible.)
*/


/*
    Backsplash Style
*/

#partners {
    width: 100%;
    height: auto;
    z-index: -1;
}

.backsplash {
    max-width: 100%;
    position: relative;
    text-align: center;
    color: black;
}

/* backsplash title text*/
.backsplashtext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Arvo", Courier, serif;
    font-size: 7vw;
    text-decoration: none;
    border-bottom: 5px solid #E44043;
    border-top: 5px solid #E44043;
}

#bottomnav {
  margin:0;
  padding:0;
  text-align:center;
  width: 100%;

  position: absolute;
  bottom: 25px;
  list-style: none;
  background-color: transparent;

}

#bottomnav li {
  list-style-type: none;
  display:inline-block;
  font-family: "Arvo", Courier, serif;
  margin: 0;
  padding: 5px;
}

#bottomnav a {
  color: black;
  font-size: 1.5vw;
  list-style:none;
  margin: 0;
  padding: 0;
}

#bottomnav li+li { border-left: 2px solid #000000 }

.bottomsection{
  font-size: 1.5vw;
  font-family: "Arvo", Courier, serif;
  color: black;
}

.toshow{
  display: none;
}

.bottomsection h2 {
  font-family: "Arvo", Courier, serif;
  font-size: 2.5vw;
  font-weight: bold;
}

#section1 {
  margin-top: 60px;
  margin-left: 50px;
  margin-right: 50px;
}

#section2 {
  margin-top: 60px;
  margin-left: 50px;
  margin-right: 50px;
}


#section1 li {
    list-style: none;
}

#section1 p {
    display: flex;
}

.youAre {
    display: inline;
    color: #E44043;
}


/*Slider Logic*/

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #E44043;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin: 50px 0px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: grey;
    cursor: pointer;
}

.toShow {
    display: none;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: grey;
    cursor: pointer;
}

.slider::-moz-range-track {
    background-color: #E44043;
}

#myRange {
    width: 80%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

footer {
    background-color: lightgrey;
    padding: 50px;
    margin-top: 200px;
    line-height: 30px;
}

.sliderSection {
    text-align: center;
    width: 50%;
    margin: auto;
}

#sponsorSlide {
    margin-top: 50px;
}

#sponsorSlide h2 {
    margin-top: 50px;
    margin-bottom: 25px
}

a > img {
    width: 100%;
}

@media (max-width: 600px) {
    .bottomsection {
      font-family: "Arvo", Courier, serif;
      font-size: 2.5vw;
    }

    .bottomsection h2 {
        font-family: "Arvo", Courier, serif;
        font-size: 3.5vw;
    }

    #bottomnav {
      color: black;
      font-size: 3vw;
      list-style:none;
      margin: 0;
      padding: 0;
    }

    #pageTitle {
        font-size: 8vw;
    }


}
